body {
    display: flex;
    justify-content: center;
}
.contenedor {
    display: flex;
    flex-direction:row;
    border: 2px solid black;
    width: 1000px;
    justify-content: space-between;
}
.cajas {
    width: 200px;
    height: 200px;
    font-size: 24px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}